<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>버거 상세페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
      ul {
    padding: 50px;
}
li {
    display: inline-block;
    list-style-type:none;
    width:100px;
    height:20px;
    border:5px solid red;
}

    </style>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>이름: {{burger.name}}</h1>
        <h1>가격: {{burger.price}}</h1>

        <ul>
          <li>재료</li>
          {{#burger.ingredientList}}
          <li>{{name}}</li>
          {{/burger.ingredientList}}
        </ul>
      </div>
    </div>
  </body>
</html>